html, body {
    min-height: 100%;
    min-width: 100%;
}

#firebaseui-auth-container{
    margin-top: 200px;
}


#dash{
    margin: 10px;
}

.grid-item {
    margin-bottom: 10px;
}

.grid-sizer {
    width: 30%;
}

.grid-item--height{
    height: 250px;
}

.grid-item--height2{
    height: 485px;
}

.grid-item--width1{
    width: 20%;
}

.grid-item--width2{
    width: 30%;
}

.grid-item--width3{
    width: 40%;
}

.grid-item--width4{
    width: 50%;
}

.grid-item--widthfull{
    width: 100%;
}

.dropdown-item:hover{
    background-color: #ccc;
    cursor: pointer;
}

.icon{
    margin-right: 20px;
}

.table-cell--height1{
    height: 100px;
    overflow-y: auto;
}

.table-cell--height2{
    height: 300px;
}

.corners-rounded {
    border-radius: 4px;
}

.modal-content--width {
    width: 80%;
}

.modal-content--height {
    height: 600px;
    overflow-y: auto;
}

.iframe-size {
    height: 450px;
    width: 90%;
}

.fa-times:hover{
    cursor: pointer;

}

.icon-weather{
    width: 100px;
    height: 100px;
    background-color: #ccc;
}

.card-weather {
    width: 200px;
    padding: 20px;
    margin: 5px;
    height: 275px;
}
.card-title-weather {
    height: 50px;
}

.meals-div-results {
    max-height: 300px;
    max-width: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

.calories-level-item {
    margin: 5px;
    padding: 10px;
}

/*scrollbars*/

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
    
    
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    
}

::-webkit-scrollbar-track-piece {

    display: none;
}

.meal-input {
    width: 50%;
}


.meal-results {
    padding: 10px;
    margin: 5px;
    width: 25%;
}
.submitBtn {
    border: hsl(0, 0%, 86%) solid 10px;
    border-radius: 4px;
}